$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xk: 1440px;

$black: #151515;
$green: #4EE1A0;
$dark-gray: #242424;
$gray: #D9D9D9;
$white: #FFFFFF;

$primary-font: 'Space Grotesk', sans-serif;