@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

footer {
    background-color: v.$dark-gray;
    padding-top: 4rem;
    padding-bottom: 3rem;
    background-image: url('../img/bg-ellipse.svg');
    background-repeat: no-repeat;
    background-position: left bottom 14rem;
    background-size: 45%;
    @include m.breakpoint(tablet) {
        background-position: left bottom 9rem;
        background-size: 20%;
    }
    @include m.breakpoint(desktop) {
        background-image: url('../img/bg-ellipse-icon-left-desktop.svg');
        background-position: left -15% bottom 40%;
        background-size: 30%;
    }
    
    .container {
        .footer_header {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            @include m.breakpoint(tablet) {
                padding: 0 8rem;
            }
            @include m.breakpoint(desktop) {
                padding: 0;
                flex-direction: row;
                align-items: start;
                justify-content: space-between;
            }
            &_main {
                @include m.breakpoint(desktop) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 2rem;
                }
                h2 {
                    text-align: center;
                    margin-bottom: 5.33vw;
                    @include m.breakpoint(tablet) {
                        text-align: none;
                        margin-bottom: 2.6vw;
                    }
                    @include m.breakpoint(desktop) {
                        text-align: none;
                        margin-bottom: 0;
                    }
                }
                p {
                font-weight: 500;
                text-align: center;
                    @include m.breakpoint(tablet) {
                        width: 95%;
                        font-weight: 600;
                        line-height: 1.6;
                    }
                    @include m.breakpoint(desktop) {
                        text-align: start;
                        width: 77%;
                        font-weight: 600;
                    }
                }                  
            }
            form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    padding-bottom: 5.5rem;
                    position: relative;
                    @include m.breakpoint(desktop) {
                        width: 80%;
                    }
                    label {
                        display: none;
                    }
                    input {
                        width: 100%;
                        padding: 1rem;
                        border: none;
                        border-bottom: 2px solid v.$white;
                        border-radius: 0;
                        background-color: transparent;
                        color: v.$gray;
                        font-family: v.$primary-font;
                        font-size: 1rem;
                        box-shadow: none;
                    }
                    textarea {
                        width: 100%;
                        height: 8rem;
                        padding: 1rem;
                        border: none;
                        border-bottom: 2px solid v.$white;
                        border-radius: 0;
                        background-color: transparent;
                        color: v.$gray;
                        font-family: v.$primary-font;
                        font-size: 1rem;
                        box-shadow: none;
                    }
                    a {
                        margin-left: auto;
                    }
                    
                    input, textarea {
                        border-bottom: 2px solid v.$white; // color por defecto
                        transition: border-color 0.3s;
                    }

                    input:valid, textarea:valid {
                        border-bottom: 2px solid v.$green; // color cuando es válido
                    }

                    input:invalid:focus, textarea:invalid:focus {
                        border-bottom: 2px solid red; // color cuando es inválido (opcional)
                    }

                    input:invalid:not(:focus), textarea:invalid:not(:focus) {
                        border-bottom: 2px solid v.$white;
                    }

                    .error-message {
                        color: red;
                        font-size: 0.9rem;
                        margin-top: 0.2rem;
                        position: absolute;
                        right: 0;
                        bottom: -1rem;
                    }
                    .input-error {
                        border-bottom: 2px solid red !important;
                    }

                    .input-wrapper {
                        position: relative;
                        width: 100%;
                        margin-left: auto;
                    }

                .input-icon {
                    position: absolute;
                    left: 95%; // ajusta según el diseño
                    color: v.$white; // o el color que prefieras
                }

.input-error + .error-message {
  text-align: right;
}

                }
            }    
        .footer_footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-top: 2.5rem;
            border-top: 1px solid v.$white;
            @include m.breakpoint(tablet) {
                justify-content: space-between;
                flex-direction: row;
            }


    
            .contact_menu ul {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;

                @include m.breakpoint(tablet) {
                    gap: 2.8rem;
                }
                li a svg {
                    color: v.$white;
                @include m.breakpoint(tablet) {
                    width: 120%;
                    transition: color 0.3s, fill 0.3s;
                    color: v.$white;
                    &:hover {
                        color: v.$green;
                    }
                }
            }
            
            .logo {
                @include m.breakpoint(tablet) {
                    width: 120%;
                }
            }
             }
        
        }
           
        
    }
}


